fastapi 
uvicorn[standard]
sqlalchemy
alembic
python-multipart
concurrently --save-dev # npm install gogo
eslint --save-dev   #npm install gogo
prettier --save-dev #npm install goog
pylint
flake8
black