@font-face {
    font-weight: 300;
    font-family: "Pretendard-Light";
    src: url("./fonts/Pretendard-Light.otf") format("truetype");
}

@font-face {
    font-weight: 400;
    font-family: "Pretendard-Regular";
    src: url("./fonts/Pretendard-Regular.otf") format("truetype");
}

@font-face {
    font-weight: 500;
    font-family: "Pretendard-Medium";
    src: url("./fonts/Pretendard-Medium.otf") format("truetype");
}

@font-face {
    font-weight: 600;
    font-family: "Pretendard-SemiBold";
    src: url("./fonts/Pretendard-SemiBold.otf") format("truetype");
}

@font-face {
    font-weight: 700;
    font-family: "Pretendard-Bold";
    src: url("./fonts/Pretendard-Bold.otf") format("truetype");
}

@font-face {
    font-weight: 800;
    font-family: "Pretendard-ExtraBold";
    src: url("./fonts/Pretendard-ExtraBold.otf") format("truetype");
}

.report {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: #F1F1F1;
    font-family: "Pretendard-Regular", sans-serif;
    overflow-y: auto; 
}

.backText {
    position: fixed; 
    width: 100vw;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: #F1F1F1;
    text-align: left;
    padding-left: 10vw;
    padding-top: 15vh;
    box-sizing: border-box;
}
.backtext1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 기본적으로 왼쪽 정렬 */
    position: relative;
}

.crown {
    position: absolute;
    left:38rem;
    top:10px
}

.TextBallon {
    display: inline-block;
    position: relative;
    padding: 10px 30px;
    background-color: #ffffff; 
    border-radius: 2rem;
    font-family: "Pretendard-Bold";
    width: fit-content;
    font-size:0.8rem;
    color: black;
    margin-bottom: 1vh;

}

.TextBallon::after {
    content: '';
    position: absolute;
    bottom: -1.1rem;
    left: 0.8rem; 
    border-width: 10px;
    border-style: solid;
    border-color: #ffffff transparent transparent transparent; 
}

.TextBold {
    font-size: 4rem;
    font-family: "Pretendard-ExtraBold";
    margin-bottom: 1vh;
}

.TextSemi {
    font-size:0.75rem; 
    font-family: "Pretendard-Regular";
}
.contentBox {
    position: absolute;  
    top: 40vh;          
    width: 100%;
    background-color: #ffffff;
    z-index: 2; 
    box-shadow: 0px -0.125rem 0.3125rem rgba(0, 0, 0, 0.1); 
    padding: 1rem; 
    padding-bottom: 30vh !important;
    height: auto;    
    box-sizing: border-box;
    transition: top 0.3s ease-in-out;
}

.contentBox.scrolled {
    top: 0; /* 스크롤 시 화면 상단으로 이동 */
}
.codeBox{
    width: 28vw !important;
}

.contentWrap {
    width: 85vw;
    margin: 0 auto;
    padding: 0 4.875vh; 
    display: grid;
    grid-template-columns: auto 1fr;
}

.titles {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    margin-bottom: 1.25rem; 
    grid-column: 2 / 3;
    justify-items: center;
}

.titleBox {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0.0625rem 0.3625rem 0px rgba(0, 0, 0, 0.24); 
    width: 11.41vw;
    height: 6.5vh;
    font-weight: bold;
    border-radius: 1rem;
}

.lineWrapper {
    display: contents;
}

.num {
    grid-column: 1 / 2;
    width: 5.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-column: 2 / 3;
    height: 10vh;
}

.timeComplex, .codeStyle, .memoryUse, .playTime {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-align: center;
    word-wrap: break-word;
    white-space: pre-line;
}

.codeStyle {
    width: 28vw;
    text-align: left;
}

.savAndMainBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem; /* Add some margin if necessary */
}

.mainBtn, .saveBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0.0625rem 0.3625rem 0px rgba(0, 0, 0, 0.24);
    width: 20vw;
    height: 6.5vh;
    font-weight: bold;
    border-radius: 1rem;
    margin: 0 1rem; 
    background-color: #ffffff;
    cursor: pointer; 
}

.btnText {
    font-family: "Pretendard-Regular", sans-serif;
    font-size: 1rem; 
    color: black;
}

.btnIcon {
    margin-left: 0.5rem; 
    color: black;
}
